div, input {
    box-sizing: border-box;
}
body {
    background-color: var(--color-bg-2);
    color: var(--color-text-2);
}
.version {
    flex: 1;
    overflow: hidden;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px 8px 40px;
    max-height: 60px;
    box-shadow: 0 1px 4px rgba(100, 100, 100, .4);
    transition: background-color .4s!important;
    & .right, .left, .link{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    & .right {
        flex: 1;
    }
    & .left {
        flex: 1;
        justify-content: center;
        & .logo {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 3px;
        }
    }
    & .link {
        display: flex;
        align-items: center;
        min-width: max-content;
        & a {
            font-size: 14px;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            transition: border-color 0.25s;
        }
        & a:hover {
            border-color: #75dcff;
        }
    }
}
